{{- $authorName := .Params.author | default site.Params.author }}
{{- if $authorName }}
{{- $authorPage := false }}
{{- with site.GetPage "section" "authors" }}
  {{- range .Pages }}
    {{- if eq .Params.name $authorName }}
      {{- $authorPage = . }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if $authorPage }}
<aside class="author-aside">
  <h3>About the Author</h3>
  <div class="author-name">
    <a href="{{ $authorPage.Permalink }}">{{ $authorPage.Params.name }}</a>
  </div>
  {{- with $authorPage.Content }}
  <div class="author-bio">{{ . }}</div>
  {{- end }}
  <div class="author-links">
    {{- with $authorPage.Params.email }}
    <a href="mailto:{{ . }}">{{ . }}</a>
    {{- end }}
    {{- with $authorPage.Params.linkedin }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    {{- end }}
  </div>
</aside>
{{- end }}
{{- end }}
